# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.db-journal

# Env
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual environments
.venv/
venv/
env/

# Docker
*.pid
*.pid.lock

# System files
.DS_Store
Thumbs.db
