# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/

# macOS & VSCode
.DS_Store
.vscode/

# Sensitive data
token_uploader/client_secret.json
token_uploader/drive-key.json
user_token_*.json

# Logs
*.log
